@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navbar {
  background-color: teal !important;
}

header img {
  position: relative;
  z-index: 3;
  width: 50px;
  border-radius: 4px;
}

body {
  background-color: wheat;
}
body #hero-container {
  margin-top: 10%;
}
body #hero-container #hero-section {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  margin-bottom: 40px;
}
body #hero-container #hero-section .title h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: teal;
}
body #hero-container #hero-section .title p {
  font-family: "Quicksand";
  font-size: large;
}
body #hero-container #hero-section .hero-mage div img {
  width: 700px;
}
body main {
  margin-top: 70px;
}
body main #form-content form {
  box-shadow: 1px 1px 4px 0px gray;
  margin: 20px auto;
  padding: 20px;
  width: 50%;
}
body main #form-content form input {
  margin-bottom: 10px;
  width: 100%;
  height: 50px;
}
body main #form-content form textarea {
  width: 100%;
}
body main #form-content form button {
  border: none;
  background-color: teal;
  border-radius: 3px;
  padding: 5px;
  width: 70px;
}
body main #content {
  display: flex;
  justify-content: space-between;
}
body main #content article section {
  box-shadow: 1px 1px 4px 0px gray;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 70%;
  width: 80%;
  margin: 10px auto;
}
body main #content article section h1 {
  font-family: "Quicksand";
  margin-bottom: 20px;
}
body main #content article section img {
  width: 100%;
  height: 400px;
  object-position: center;
  object-fit: cover;
  padding: 15px;
}
body main #content article section p {
  color: teal;
}
body main #content article section span {
  margin: 4px;
  padding: 3px;
  background-color: rgb(75, 143, 189);
  border-radius: 3px;
  box-shadow: 1px 1px 4px 0px gray;
}
body main #content article section span a {
  text-decoration: none;
  color: white;
}
body main #content #author-aside section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
body main #content #author-aside section img {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 3px solid teal;
  margin: 10px auto;
}
body main #content #author-aside section h5 {
  margin: 10px auto;
  font-family: "Quicksand";
  font-weight: 700;
}
body main #content aside {
  box-shadow: 1px 1px 4px 0px gray;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 70%;
  height: 50%;
}
body main #content aside h2 {
  font-family: "Quicksand";
}
body main #content aside ol li a {
  text-decoration: none;
  color: teal;
}
body main #content aside ol li :hover {
  box-shadow: 1px 1px 4px 0px gray;
}

footer {
  background-color: teal;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  margin-top: 15px;
  color: white;
}

@media screen and (max-width: 768px) {
  #content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12%;
  }
}
@media screen and (max-width: 576px) {
  header nav div a {
    display: inline-block;
    width: 10%;
  }
  header nav div a img {
    width: 100%;
  }
  main #form-content {
    margin-top: 10%;
  }
  #hero-container #hero-section {
    margin-top: 100px;
    padding: 10px;
    box-sizing: border-box;
  }
  #hero-container #hero-section .hero-image div img {
    width: 300px;
  }
  footer {
    margin-top: 100px;
  }
  main #content {
    margin-top: 15%;
    flex-direction: column;
    align-items: center;
  }
  main #content #author-aside {
    display: flex;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
